<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserListMapper">

    <resultMap type="com.vivo.uhost.dal.entity.UserList" id="userLists">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userCode" column="user_code"/>
        <result property="department" column="department"/>
        <result property="authority" column="authority"/>
    </resultMap>

    <select id="selectAll" resultMap="userLists">
        SELECT * FROM t_user_list
    </select>

    <insert id="insert" parameterType="com.vivo.uhost.dal.entity.UserList">
        INSERT INTO t_user_list (user_name, user_code,department,authority) VALUES (#{userName},#{userCode},#{department},#{authority})
    </insert>

    <update id="update" parameterType="com.vivo.uhost.dal.entity.UserList">
        UPDATE t_user_list SET user_name=#{userName},user_code=#{userCode},department=#{department},authority=#{authority} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM t_user_list WHERE id=#{id}
    </delete>

    <select id="selectList" parameterType="map" resultMap="userLists">
        SELECT * FROM t_user_list
        <where>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="userCode != null">
                AND user_code = #{userCode}
            </if>
            <if test="department != null">
                AND department = #{department}
            </if>
            <if test="department != null">
                AND authority = #{authority}
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>

    <select id="count" parameterType="com.vivo.uhost.dal.entity.UserList" resultType="java.lang.Long">
        SELECT count(*) FROM t_user_list
        <where>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="userCode != null">
                AND user_code = #{userCode}
            </if>
            <if test="department != null">
                AND department = #{department}
            </if>
            <if test="department != null">
                AND authority = #{authority}
            </if>
        </where>
    </select>
</mapper>