<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE-APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%X{traceId}/%c{1}] - %m%n"/>
        </layout>
    </appender>

    <logger name="com.vivo.uhost" additivity="false">
        <level class="org.apache.log4j.Level" value="INFO"/>
        <appender-ref ref="CONSOLE-APPENDER"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE-APPENDER"/>
    </root>

</log4j:configuration>